html {
    margin: 0;
    width: 100%;
    height: 100%;
    
}

* {
    font-family: 'Press Start 2P', cursive;
}
body {
    background-color: black;
    display: flex;
    flex: 1;
    margin: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}

.mainDisplay {
    display: inline-block;
    position: relative;
    margin: 0;
}

.battleStart {
    background-color: black;
    position: absolute; 
    top:0; 
    right:0; 
    left:0; 
    bottom:0;
    opacity: 0;
}

.battleMenu {
    background-color: white;
    width: 99.5%;
    height: 150px;
    position: absolute;
    bottom: 0;
    border: 4px;
    border-style: solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bossStatus {
    width: 450px;
    height: 100px;
    background-color: white;
    border: 4px;
    border-style: solid;
    position: absolute;
    top: 25px;
    left: 25px;
    
    padding-left: 30px;
    padding-right: 30px;
}

.bossHp {
    height: 8px;
    background-color: #9c9c9c;
    border-radius: 4px;
    
    
}

.bossHptwo {
    height: 8px;
    background-color: green;
    position: absolute;
    top:0;
    left:0;
    right:0;
    width: 100%;
    border-radius: 4px;

    
}

.playerStatus {
    width: 450px;
    height: 100px;
    background-color: white;
    border: 4px;
    border-style: solid;
    position: absolute;
    top: 290px;
    left: 480px;
    padding-left: 30px;
    padding-right: 30px;
}

.playerHp {
    height: 8px;
    background-color: #9c9c9c;
    border-radius: 4px;
    
    
}

.playerHptwo {
    height: 8px;
    background-color: green;
    position: absolute;
    top:0;
    left:0;
    right:0;
    width: 100%;
    border-radius: 4px;

    
}

.dialogue {
    display: none;
    position: absolute;
    top: 100;
    bottom: 0;
    right: 0;
    left: 0;
    width: 95.8%;
    height: 21%;
    background-color: white;
    padding: 20px;
    cursor: pointer;
    border: 4px;
    border-style: solid;
    z-index: 2;
}

.attacksBox {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    align-items: end;
}

.attacksBox > button {
    width:100%;
    height: 29%;
    cursor: pointer;
    border: 2px;
    border-style: solid;
    
}

.overlappingDiv {
    display:block;
    position: absolute;
    background-color: black;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
}

.userInterface {
    opacity: 1;
    display: none;
}